@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meddon&display=swap');

:root{
    --green: #27ae60;
    --dark-color: rgb(119, 112, 112);
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0.6rem 1rem 1rem rgba(166, 219, 243, 0.712);
    --ucs-color: #089da1;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 50px;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

section.home{
    padding: 50px 9%;
}

.btn1{
    margin-top: 1rem;
    display: inline-block;
    padding: 9px 30px;
    border-radius: 5px;
    color: #fff;
    background: rgb(238, 127, 24);
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 8px;
    box-shadow: 0px 3px 2px gray;
}

.btn2{
    margin-top: 10px;
    display: inline-block;
    padding: 9px 30px;
    border-radius: 5px;
    color: #fff;
    background: var(--ucs-color);
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 8px;
    box-shadow: 0px 3px 2px gray;
}

.btn3{
    height: 20px;
    padding-top: 15px;
}

.btn1:hover{
    background: rgb(163, 67, 2);
}

.btn2:hover{
    background: rgb(4, 83, 114);
}


/* Frist Header */

.header .header-1{
    background: #fff;
    padding: 15px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 25px;
    font-weight: bolder;
    color: var(--black);
}

.header .header-1 .logo i{
    color: var(--ucs-color);
}

.header .header-1 .search-form{
    width: 500px;
    height: 50px;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.header .header-1 .search-form input{
    font-size: 16px;
    padding: 0 12px;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label{
    font-size: 25px;
    padding-right: 15px;
    color: var(--black);
}

.header .header-1 .search-form label:hover{
    color: var(--ucs-color);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 25px;
    margin-left: 15px;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: var(--ucs-color);
}

#search-btn{
    display: none;
}


/* Second Header */

.header .header-2{
    background: var(--ucs-color);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #fff;
    display: inline-block;
    padding: 12px;
    font-size: 17px;
}

.header .header-2 .navbar a:hover{
    background: var(--dark-color);
}

.header .header-2.active{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
}


/* bottom navbar */

.bottom-navbar{
    text-align: center;
    background: var(--ucs-color);
    position: fixed;
    bottom: 0; left: 0; right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 25px;
    padding: 20px;
    color: #fff;
}

.bottom-navbar a:hover{
    background: var(--dark-color);
}

/* login form */

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.9);
    position: fixed;
    top:0; right: -105%;
    z-index: 10000;
    width: 100%;
    height: 100%;
}

.login-form-container.active{
    right: 0;
}

.login-form-container form{
    background: #fff;
    border: var(--border);
    width: 400px;
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    margin: 20px;
}

.login-form-container form h3{
    font-size: 25px;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.login-form-container form .box{
    width: 100%;
    margin: 7px 0;
    font-size: 16px;
    border: var(--border);
    border-radius: 5px;
    padding: 10px 12px;
    color: var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
}

.login-form-container form .checkbox label{
    font-size: 15px;
    color: var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width: 100%;
    margin: 15px 0;
    cursor: pointer;
}

.login-form-container form p{
    padding-top: 8px;
    color: var(--light-color);
    font-size: 15px;
}

.login-form-container form p a{
    color: var(--ucs-color);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top: 15px; right: 25px;
    font-size: 30px;
    color: var(--black);
    cursor: pointer;
}

.home{
    background: url(./image/1360x768-fresh-air-solid-color-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.home .row .content{
    flex: 1 1 200px;
}

.home .row .books-slider{
    flex: 0.4 0.4 200px;
    text-align: center;
    margin-top: 20px;
}

.home .row .books-slider a img{
    height: 150px;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .books-slider .stand{
    width: 100%;
    margin-top: -10px;
}

.home .row .content .sup{
    font-size: 32px;
}

.home .row .content h3{
    color: var(--black);
    font-size: 63px;
    color: rgb(238, 127, 24);
    text-shadow: 0px 3px 2px gray;
    text-align: justify;
}

.home .row .content .knowledge{
    color: var(--black);
    font-size: 50px;
    color: #fff;
}

.home .row .content p{
    color: var(--light-color);
    font-size: 14px;
    line-height: 2;
    padding: 10px;
}



/* cathegories */

.category-header,.popular-header{
    display: flex;
    justify-content: space-between;

    margin-top: 50px;
    margin-bottom: 20px;
}

.category-header h3,.popular-header h3{
    display: inline-block;
    font-size: 20px;
}

.category-header span,.popular-header span{
    display: inline-block;
    font-size: 15px;
}

.category-header span a,.popular-header span a{
    text-decoration: none;
    color: black;
}

.category-header span a:hover{
    text-decoration: underline;
    color: var(--ucs-color);
}

.popular-header span a:hover{
    text-decoration: underline;
    color: var(--ucs-color);
}

.home-category{
    width: 100%;

    text-align: left;

    padding-right: 120px;
    padding-left: 120px;

}

.popular{
    width: 100%;
    padding-right: 120px ;
    padding-left: 120px;
}

.home-category .slide{

    border: var(--border);
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    display: inline-block;
    margin-bottom: 50px;
}

/* card color */

.swiper-wrapper .slide:nth-of-type(1){
    background: rgb(230, 196, 230);
}

.swiper-wrapper .slide:nth-of-type(2){
    background: rgb(250, 224, 153);
}

.swiper-wrapper .slide:nth-of-type(3){
    background: rgb(241, 149, 149);
}

.swiper-wrapper .slide:nth-of-type(4){
    background: rgb(201, 241, 149);
}

.swiper-wrapper .slide:nth-of-type(5){
    background: rgb(241, 149, 164);
}

.swiper-wrapper .slide:nth-of-type(6){
    background: rgb(164, 240, 243);
}

.swiper-wrapper .slide:nth-of-type(7){
    background: rgb(155, 149, 241);
}

.swiper-wrapper .slide:nth-of-type(8){
    background: rgb(241, 149, 149);
}

.home-category .slide img{
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-bottom: 10px;
    cursor: pointer;
}

.home-category .slide h3{
    text-align: left;
    font-size: 14px;
    color: black;
    width: 100%;
    height: 10px;
}

/* .home-category .slide:hover{
    background-color: var(--ucs-color);
} */

.home-category .slide:hover img{
    filter: opacity(.8);
}

/* .home-category .slide:hover h3{
    color: white;
} */


/* Popular */



.popular .popular-slider .box{
    width: 200px;
    margin: 25 0;
    position: relative;
    overflow: hidden;
    border: .1rem solid rgba(0,0,0,.3);
    text-align: center;
    border-radius: 5px;
    
}

.popular .popular-slider .box:hover{
    border: .1rem solid var(--ucs-color);
}

.popular .popular-slider .box .image{
    padding: 10px;
    /* background: linear-gradient(15deg, #eee, #fff 30.1%) */
    background: linear-gradient(hsla(294, 100%, 83%, 1),hsla(294, 100%, 86%, 1));
}

.popular .popular-slider .box:hover .image{
    transform: translateY(40px);
}

.popular .popular-slider .box .image img{
    height: 150px;
}

.popular .popular-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0; left: 0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
    background: linear-gradient(hsla(167, 100%, 87%, 1),rgb(244, 189, 255));
}

.popular .popular-slider .box:hover .icons{
    transform: translateY(0%);
}

.popular .popular-slider .box .icons a{
    color: var(--black);
    font-size: 22px;
    padding: 13px 15px;
}

.popular .popular-slider .box .icons a:hover{
    background: var(--ucs-color);
    color: #fff;
}

.popular .popular-slider .box .content{
    background: linear-gradient(hsla(294, 100%, 86%, 1),rgb(160, 112, 165));
    padding: 15px;
}

.popular .popular-slider .box .content h3{
    width: 100%;
    height: 10px;
    font-size: 12px;
    color: var(--black);
}

.popular .popular-slider .box .content .by{
    font-size: 15px;
    color: var(--black);
    padding-top: 10px;
}

.popular .popular-slider .box .content .price span{
    font-size: 12px;
    color: var(--light-color);
}


.swiper-button-next,
.swiper-button-prev{
    height: 15px;
    width: 15px;
    color: var(--black);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    color: rgb(110, 126, 139);
}


/* Suggest */

.suggest{
    width: 100%;
    padding-right: 120px ;
    padding-left: 120px;
}

.suggest-header{
    display: flex;
    justify-content: space-between;

    margin-top: 50px;
    margin-bottom: 20px;
}

.suggest-header h3{
    display: inline-block;
    font-size: 20px;
}

.suggest-header span{
    display: inline-block;
    font-size: 15px;
}

.suggest-header span a{
    text-decoration: none;
    color: black;
}

.suggest-header span a:hover{
    text-decoration: underline;
    color: var(--ucs-color);
}









































/* media quries */

@media (max-width:1305px){
    .home .row .content .knowledge{
        font-size: 30px;
    }

    .home .row .content h3{
        font-size: 30px;
    }

    .home .row .content .sup{
        font-size: 12px;
    }
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header .header-1{
        padding: 20px;
    }

    section{
        padding: 20px 10px;
    }

    .home-category,.popular,.suggest{
        padding: 30px 20px;
    }

    .home .row .content{
        text-align: center;
    }


    .home .row .content .knowledge{
        font-size: 30px;
    }

    .home .row .content h3{
        font-size: 30px;
    }

    .home .row .content .sup{
        font-size: 12px;
    }
}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 60px;
    }

    .header .header-2{
        display: none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .btn1{
        margin-top: 1rem;
        display: inline-block;
        padding: 5px 15px;
        border-radius: 5px;
        color: #fff;
        background: rgb(238, 127, 24);
        font-size: 10px;
        cursor: pointer;
        font-weight: 500;
        margin-right: 4px;
        box-shadow: 0px 3px 2px gray;
    }

    .btn2{
        margin-top: 10px;
        display: inline-block;
        padding: 5px 15px;
        border-radius: 5px;
        color: #fff;
        background: var(--ucs-color);
        font-size: 10px;
        cursor: pointer;
        font-weight: 500;
        margin-right: 4px;
        box-shadow: 0px 3px 2px gray;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position: absolute;
        top: -115%; right: 20px;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top: 115%;
    }

    .home .row .content{
        text-align: center;
    }


    .home .row .content .knowledge{
        font-size: 20px;
    }

    .home .row .content h3{
        font-size: 25px;
        padding-left: 100px;
    }

    .home .row .content .sup{
        font-size: 7px;
    }

    .category-header,.popular-header,.suggest-header{
        text-align: justify;
    }

    .category-header h3,.popular-header h3,.suggest-header h3{
        font-size: 12px;
    }

    .category-header span,.popular-header span,.suggest-header span{
        font-size: 10px;
    }

    .home-category .slide img{
        width: 30px;
        height: 30px;
    }

    .home-category .slide h3{
        font-size: 8px;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
}

